.graella {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fila {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.cela {
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border: 8px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 20px;
    transition:
        border-color 125ms,
        background-color 1s,
        color 1s;
}

.cela.activa {
    border-color: #61b961;
}

.cela.encertat {
    background-color: rgb(38, 242, 48);
    border-color: rgb(38, 242, 48);
}

.cela.malColocada {
    background-color: rgb(235, 72, 13);
    border-color: rgb(235, 72, 13);
}

.cela.descartat {
    background-color: rgb(111, 114, 127);
    border-color: rgb(111, 114, 127);
    color: white;
}

.lletra {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
}
