.teclat {
    display: flex;
    gap: 5px;
    justify-content: center;
    width: 395px;
    flex-wrap: wrap;
}

.tecla-wrapper {
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.tecla {
    line-height: inherit;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 3px;
    color: black;
}
