#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.wordle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    justify-content: center;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.app {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
